@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Nixie+One&family=Permanent+Marker&family=Zilla+Slab+Highlight&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-wrapper {
  min-height: 4vh;
  line-height: 4;
}

#page-title {
   font-family: "Permanent Marker", sans-serif;
}


body {
  /*
  background-image: url("../images/fil-mazzarino-VyOtjKmSnKQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main,
.container{
  flex: 1 0 auto;
}
    
a {
  text-decoration: none;
  color: #555;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
    color: #fff;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
/* modal */
#warning {
  color: red;
}

/* contact form */
.response {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}


/* footer */
.page-footer {
  min-height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  
   
}

.page-footer p>span {
    color: #000;
}

footer .column i  {
  padding: 5px;
  font-size: large;

}


  /* 404 error page */

  .mainbox {
    background-color:  rgba(242, 246, 248, 0.1);
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  
    .err {
      color: #000;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #000;
  }
  
   .err2 {
      color: #000;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  #err-home {
    text-decoration: none;
    color: green;
  }
  
  a:hover {
    text-decoration: underline;
  }

/*  fullscreen video background home page */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.mp4-overlay {
  position: fixed;
  bottom: 0;
  background: rgba(39, 39, 39, 0.5);
  color: #fff;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 100px;
  text-transform: uppercase;
  font-size: 13px;
  padding: 9px;
  border: none;
  background: rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: #000;
}

/*  Profile page card  */

.card {
  background-color: #f4f4f4;
  width: 330px;
  margin: 20px auto;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.card-header {
  overflow: hidden;
  width: 100%;
  max-height: 330px;
}

.card-header img{
  width: 100%;
  height: 90%;
}

.card-content {
  width: 85%;
  margin: 35px auto;
}

.card-content h3 {
  font-size: 25px;
  margin-bottom: 0;
  color: #303F9F;
  font-family: 'Montserrat', sans-serif;
}

.card-content h4 {
  font-size: 14px;
  margin-top: 0;
  color: #FF5252;
  font-family: 'Montserrat', sans-serif;
}

.card-content p {
  color: #777;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  
}

.card-footer {
  border-top: solid 1px #B6B6B6;
  padding: 5px;
}

.card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 6px;
}

.card-footer ul li i {
  font-size: 2.5em;
  color: #263238 ;
}
