@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Montserrat:wght@100;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* navbar */

nav.nav-extended .nav-wrapper {
  min-height: 155px;
  line-height: 10;
  background-color: #78909c;
  
 
}

.brand-logo {
  margin-left: 15px;
  margin-top: 10px;
  max-height: 90%;
  max-width: 90%;
}

.side-log {
  color: #136259;
  font-family: "Montserrat", sans-serif;
}

/* body */

body {
  
  background-image: url("../images/alessio-soggetti-GYr9A2CPMhY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page-title {
  font-family: "Permanent Marker", sans-serif;
  color: #136259;
}


.sub-heading {
  color: #0a0a0a;
  font-family: "Montserrat", sans-serif;
}

/* email response text */

.response {
  color: #fff;
}

/* links and text on signup/login page */

.new-here, .already {
    color: rgb(29, 4, 250);
    font-size: large;
}

.log, .sign {
  color: #070706;
}

/* card-panel and collapsible header */

.card-panel {
  
  background-color: rgba(0, 0, 0, 0.5); 
}

.card{
  background-color: rgba(0, 0, 0, 0.5);
}

.collapsible {
  
  background-color: rgba(95, 93, 93, 0.5); 
}

.collapsible-header {
 
  background-color: rgba(97, 96, 96, 0.5); 
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
  font-family: "Montserrat", sans-serif;
}


main,
.container{
  flex: 1 0 auto;
}
    
a {
  text-decoration: none;
  color: #555;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
    font-family: "Montserrat", sans-serif;
}
/* buttons */

.reset {
  font-size: 18px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

.search {
  font-size: 18px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

.edit {
  font-size: 18px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

.delete {
  font-size: 18px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

.btn-small {
  font-size: 18px;
    margin: 5px;
    color: #FCFCFC;
    background-color: #136259;
    font-family: "Montserrat", sans-serif;
   
}


/* modal */
#warning {
  color: rgb(255, 0, 0);
}

.modal-canc {
  color: red;
}

.modal-del {
  color: green;
}

/* contact form */
.response {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}


/* footer */
.page-footer {
  min-height: 100px;
  background-color: rgba(107, 107, 107, 0.5); 
  left: 0;
  bottom: 0;
  width: 100%;
   
}

.foot-txt {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.page-footer p>span {
    color: #f4f6f8;
    font-family: "Montserrat", sans-serif;
}

footer .column i  {
  padding: 5px;
  font-size: x-large;
  color: #136259;
  line-height: 1;
}


  /* 404 error page */

  .mainbox {
    background-color:  rgba(252, 253, 253, 0);
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  
    .err {
      color: #000;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #000;
  }
  
   .err2 {
      color: #000;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  #err-home {
    text-decoration: none;
    color: green;
  }
  
  a:hover {
    text-decoration: underline;
  }

/*  fullscreen video background home page */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.mp4-overlay {
  position: fixed;
  bottom: 0;
  background: rgba(39, 39, 39, 0.5);
  color: #fff;
  width: 100%;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 100px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 6px;
  margin: 5px;
  border: none;
  background: rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: #000;
}

