{% extends "base.html" %}
{% block content %}
   

<h4 class="center-align" id="page-title">About</h4>
<div>
    <h3>Welcome to RUN||actually</h3>
    <h4>We hope to be the inspiration to help you get out your front door and achieve something brilliant.
       We have a lot of great events to choose from - so there's a finish line for everyone to aim for
        - whether you're a complete beginner or looking for an extreme test of physical and mental toughness,
       then click on the events button 'Search and Enjoy!' </h4>
</div>
{% endblock %}

