{% extends "base.html" %}
{% block content %}
   

<h3 class="center-align" aria-label="Page Title" id="page-title">About</h3>

<div>
    <h3 class="welcome">Welcome to RUN||actually</h3>
    <h4 class="sub-heading">Our main objective is to get people off the sofa and enjoying being outdoors.
         We just love to run and we hope you will too after experiencing life on the trails. Having experienced many types of events,
          from 5km runs through to Ultra Marathons and Charity runs, we're dedicated to understanding what's important to you - the runners.</h4>
</div>

{% endblock %}

