{% extends "base.html" %}
{% block content %}

    <h3 class="center-align" aria-label="Page Title" id="page-title">Manage Categories</h3>
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('create_category') }}" class="btn-small light-blue darken-2 text-shadow">
                Create Category <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m6 l4">
                <div class="card text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <!-- edit / delete (calls modal) buttons -->
                    <div class="card-action">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn edit green accent-4">Edit</a>
                        <a href="#delete-modal-1{{category._id}}" class="btn light-blue modal-trigger delete lighten-1">Delete</a>
                    </div>
                </div>
                 <!-- modal structure -->
         <div id="delete-modal-1{{category._id}}" class="modal">
            <div class="modal-content">
                <h4 id="warning">WARNING! <i class="fas fa-exclamation-triangle"></i></h4>
                <p>Are you sure you want to delete the {{ category.category_name }} Category?</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_category', category_id=category._id) }}"
                  class="modal-close modal-del waves-effect waves-green btn-flat">Delete</a>
                <a href="{{ url_for('get_categories', username=session['user']) }}"
               class="modal-close modal-canc waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>

     </div>
        {% endfor %}
</div>

{% endblock %}
