{% extends "base.html" %}


{% block content %}

<h3 class="center-align" aria-label="Page Title" id="page-title">Contact</h3>
<div class="container">
  <div class="row">
      <form class="col s12 m8 offset-m2" id="contact_form" onsubmit="return sendMail(this);">
          <div class="card-panel">
              <h4 class="page-title center-align">Ask Us Anything</h4>
              <!-- name -->
              <div class="row">
                  <div class="input-field col s12 m8 offset-m2">
                      <i class="fas fa-user-alt prefix text-darken-4"></i>
                      <input id="name" name="name" type="text" minlength="3"
                      maxlength="25" pattern="^[a-öA-Ö0-9 @.,-_*#]{3,25}$" class="form-control validate" required>
                      <label for="name" aria-label="Name filed in contact form" class="form-label">Name</label>
                  </div>
              </div>
              <!-- email -->
              <div class="row">
                  <div class="input-field col s12 m8 offset-m2">
                      <i class="fas fa-envelope prefix text-darken-4"></i>
                      <input type="text" name="emailaddress" id="emailaddress" minlength="3"
                      maxlength="25" pattern="^[a-öA-Ö0-9 @.,-_*#]{3,25}$" class="form-control validate" required>
                      <label for="emailaddress" aria-label="Email filed in contact form" class="form-label">Email</label>
                  </div>
              </div>
              <!-- comment -->
              <div class="row">
                  <div class="input-field col s12 m8 offset-m2">
                      <i class="fas fa-comment prefix text-darken-4"></i>
                      <label for="comments" class="form-label">Comment</label>
                      <textarea id="comments" name="comments" minlength="5" maxlength="50"
                      aria-label="Textarea in contact form" class="materialize-textarea validate" required></textarea>
                  </div>
              </div>
              <!-- email reponse -->
              <div class="response center-align">
              </div>
              <!-- submit comment button-->
              <div class="row center-align">
                  <button type="submit" aria-label="Submit Button in contact form" class="col s12 m8 offset-m2 btn-small darken-4">
                      Submit Comment
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>
          
  {% endblock %} 

  {% block scripts %}
  <!-- EmailJS script for sending email via thr contact form-->
<script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
<script> 
(function() {
  emailjs.init("user_SdOadbneJmuMuoN2jGKic");
  emailjs.send("gmail","contact_form");
})();
</script>

  <script src="static/js/sendEmail.js"></script>
{% endblock %}
    
        
  