{% extends "base.html" %}
{% block content %}

<h4 class="center-align text-darken-4" id="page-title">Edit Category</h4>

<div class="row card-panel teal darken-4">
  <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
    <!-- category name -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-folder-open prefix text-darken-4"></i>
        <input id="category_name" name="category_name" minlength="4" maxlength="20"
         type="text" value="{{ category.category_name }}" pattern="^[a-zA-Z0-9 @.-_*#]{5,25}$" class="validate"
          required>
        <label for="category_name">Category Name</label>
      </div>
    </div>
    <!-- submit button -->
    <div class="row">
      <div class="col s12 center-align">
        <a href="{{ url_for('get_categories') }}" class="btn-large red text-darken-4">
            Cancel <i class="fas fa-times-circle right"></i>
        </a>
        <button type="submit" class="btn-large darken-4">
          Edit Category <i class="fas fa-edit right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}

