{% extends "base.html" %}
{% block content %}. 


  <ul class="collapsible">
      <li>
         <div class="collapsible-header teal darken-2"><i class="fas fa-caret-down"></i>Choose Category</div>
         <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
     <li>
         <div class="collapsible-header teal darken-2"><i class="fas fa-caret-down"></i>Location</div>
         <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
     </li>
     <li>
         <div class="collapsible-header teal darken-2"><i class="fas fa-caret-down"></i>Date</div>
         <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

{% endblock %} 
        