{% extends "base.html" %}
{% block content %}

<h3 class="center-align" aria-label="Page Title" id="page-title">Events</h3>
<div class="container">
<div class="row card-panel">
  <form action="{{ url_for('search') }}" method="post" class="col s12">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="row valign-wrapper center-align">
          <div class="input-field col s12 m8">
              <i class="fas fa-search prefix N/A transparent"></i>
              <input type="text" name="query" id="query" minlength="3" class="validate" required>
              <label for="query">Search Events</label>
          </div>
          <div class="col s12 m4">
              <a href="{{ url_for('get_events') }}" aria-label="Reset Button" class="red btn reset text-shadow">Reset</a>
              <button type="submit" aria-label="Search Button" class="light-blue darken-1 btn search text-shadow">
                   Search
              </button>
          </div>
      </div>
  </form>
</div>

{% if events|length > 0 %}
<ul class="collapsible">
  {% for event in events %}
  <li>
    <div class="collapsible-header">
      <div class="col s3">
           <i class="fas fa-caret-down"></i>
            {% if session.user|lower == event.created_by|lower %}
             <a href="#delete-modal-{{event._id}}" aria-label="Pre Delete Event"class="waves-effect waves-light btn-small modal-trigger green accent-4">Delete</a>
             <a href="{{ url_for('edit_event', event_id=event._id) }}" aria-label="Edit Event Button" class=" waves-effect waves-light btn-small light-blue lighten-1">Edit</a>
            {% endif %}
      </div>
         <div class="col s9">
           <strong>{{ event.event_name }}</strong> : {{ event.date }}
             {% if event.is_urgent == "on" %}
                <i class="fas fa-exclamation-circle light-blue-text text-darken-4 tooltipped" data-position="right"
                   data-tooltip="REMINDER!"></i>
              {% endif %}
        </div>
    </div>
    <div class="collapsible-body">
      <strong>{{ event.category_name }}</strong>
      <p>{{ event.location }}</p>
      <p>{{ event.event_description }}</p>
      <p><em>by: {{ event.created_by }}</em></p>
    </div>
       <!-- Modal Structure -->
       <div id="delete-modal-{{event._id}}" aria-label="Delete Event" class="modal">
        <div class="modal-content">
            <h4 class="warning-1">WARNING! <i class="fas fa-exclamation-triangle"></i></h4> 
            <p>Are you sure you want to delete the {{ event.category_name }} event on {{ event.date }} in  {{ event.location }}?</p>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('delete_event', event_id=event._id) }}"
            aria-label="Delete Button" class="modal-close modal-del waves-effect waves-green btn-flat">Delete</a>
            <a href="{{ url_for('get_events', username=session['user']) }}"
            aria-label="Cancel Button" class="modal-close modal-canc waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
    <h4 class="red-text text-darken-4 center-align">No Results Found</h4>
  </div>
{% endif %}


{% endblock %}
